@import "tailwindcss";

* {
  box-sizing: border-box;
  outline: none;
}

:root {
  --background: #1b1b1b;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  background-color: var(--background);
  width: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border: solid 4px var(--background);
  border-radius: 100px;
  box-sizing: border-box;
}

*::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}

.container-x-padding {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

@media only screen and (max-width: 1300px) {
  .container-x-padding {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .container-x-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .container-x-padding {
    padding-left: 25px;
    padding-right: 25px;
  }
}