@import "tailwindcss";

* {
  box-sizing: border-box;
  outline: none;
}

* {
  box-sizing: border-box;
  outline: none;
  font-family: inherit;
}

:root {
  --background: #121212;
  --foreground: #fff;
  --color-primary: #F3CC63;
  --primary-foreground: #121212;
  --border-color: #3b3b3b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-y: scroll;
}

h1, h2 {
  font-family: var(--font-poppins);
}

.container-x-padding {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  overflow: auto;
}

@media only screen and (max-width: 1400px) {
  .container-x-padding {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .container-x-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .container-x-padding {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media only screen and (min-width: 1000px) {
  *::-webkit-scrollbar {
    background-color: var(--background);
    width: 15px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
    border: solid 4px var(--background);
    border-radius: 100px;
    box-sizing: border-box;
  }

  *::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
  }
}